body{
  background-color: #161616;
  text-align: center;
}
h3, label, output{
  color: #fefefe;
}
output{
  font-size: 1.5rem;
}
label{
  margin-right: 10px;
}
div{
  margin-top: 20px;
}
form {
  border: 2px dotted slategrey;
}
button{
  font-size: 1.2rem;
}